<!DOCTYPE html>
<html>
  <head>
    <title>Ingenious | Song Lyrics & Knowledge</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;400;600&family=Muli:wght@600;700;800;900&display=swap" rel="stylesheet">
 
    <% if logged_in? %>
        <script type="text/javascript">
            window.currentUser =
            <%= render("api/users/user.json.jbuilder", user: current_user).html_safe %>
        </script>
    <% end %>
 
  </head>

  <body>
    <%= yield %>
  </body>
</html>
