<!DOCTYPE html>
<html lang="en" >
  <head>
    <title>Ingenious | Song Lyrics & Knowledge</title>

    <meta name="description" content="A Genius.com clone built with React and Rails, Ingenious is a collection of programming music knowledge and annotatable lyrics." />
	<meta name="keywords" content="ingenious, ingenious.com, mari kasanuki, marikasanuki, genius.com, software engineer, software developer, react project, fullstack" />
	<meta name="author" content="Mari Kasanuki" />

    <meta property='og:title' content='Ingenious'/>
    <meta property='og:image' content='https://ingenious-prod.s3.amazonaws.com/portfolio-images/ingenious-linkedin.png' />
    <meta property='og:description' content='A Genius.com clone built with React and Rails, Ingenious is a collection of programming music knowledge and annotatable lyrics.'/>
    <meta property='og:url' content='https://ingenious-app.herokuapp.com/'/>
    <meta property="og:site_name" content="Mari Kasanuki"/>
    <meta property="og:type" content="website" />

    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;400;600&family=Muli:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mitr:wght@300;400;500&display=swap" rel="stylesheet">

    <% if logged_in? %>
        <script type="text/javascript">
            window.currentUser =
            <%= render("api/users/user.json.jbuilder", user: current_user).html_safe %>
        </script>
    <% end %>

    <%= favicon_link_tag asset_path('ingenious-favicon.png') %>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-6BFZ6C0F4X"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-6BFZ6C0F4X');
    </script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
